<!doctype html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>LanBridge</title>
    <link href="./materialdesignicons.min.css" rel="stylesheet">
    <link href="./vuetify.min.css" rel="stylesheet">
    <script src="./vue.js"></script>
    <script src="./vuetify.js"></script>
</head>
<style>
    * {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -webkit-user-select: none;
        user-select: none;
        outline: none;
    }

    [v-cloak] {
        display: none;
    }

    html,
    body {
        width: 100vw;
        height: 100vh;
        margin: 0 auto;
    }
    .v-dialog{
        overflow-x: hidden;
    }
    ::-webkit-scrollbar {
        display: none
    }

    canvas {
        display: block;
        height: 100vh;
        width: 100vw;
        filter: blur(60px);
        -webkit-filter: blur(60px);
        z-index: -1;
        position: fixed;
        overflow: hidden;
    }

    #app {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background: transparent;
    }

    .myGroup-enter,
    .myGroup-leave-to {
        opacity: 0;
        transform: translateY(80px);
    }

    .myGroup-enter-active,
    .myGroup-leave-active {
        transition: all 0.5s;
    }

    .myGroup-move {
        transition: all 0.5s;
    }

    .myGroup-leave-active {
        position: absolute;
    }

    @keyframes flicker {
        from {
            opacity: 1.0;
        }

        50% {
            opacity: 0.4;
        }

        to {
            opacity: 1.0;
        }
    }

    @-webkit-keyframes flicker {
        from {
            opacity: 1.0;
        }

        50% {
            opacity: 0.4;
        }

        to {
            opacity: 1.0;
        }
    }

    .flicker {
        animation: flicker 800ms infinite;
        -webkit-animation: flicker 800ms infinite;
    }
</style>

<body>

   <!-- <canvas id="canvas"></canvas>  -->

    <div v-cloak id="app">
        <v-app>
            <v-main>


                <v-snackbar :timeout="3000" v-model="snackbar_toggle" color="deep-purple accent-4" elevation="24">
                    <span v-html="snackbar_text"></span>
                    <template v-slot:action="{ attrs }">
                        <v-btn text v-bind="attrs" @click="snackbar_toggle = false">
                            关闭
                        </v-btn>
                    </template>
                </v-snackbar>



                <v-app-bar flat color="transparent">
                    <v-app-bar-nav-icon @click="drawer = true"></v-app-bar-nav-icon>
                    <v-toolbar-title></v-toolbar-title>
                    <v-spacer></v-spacer>
                    <div>
                  <!--      <v-switch v-model="undisturb_mode_switch" label="勿扰模式" hide-details></v-switch>   -->
                    </div>
                </v-app-bar>

                <v-navigation-drawer v-model="drawer" absolute temporary>
                    <v-list-item>
                        <v-list-item-content>
                            <v-list-item-title class="text-h6">
                                LanBridge
                            </v-list-item-title>
                            <v-list-item-subtitle>
                                跨平台多设备协同工具
                            </v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>

                    <v-divider></v-divider>

                    <v-list nav dense>
                        <v-list-item-group active-class="deep-purple--text text--accent-4">
                            <v-list-item @click="show_about()">
                                <v-list-item-icon>
                                    <v-icon>mdi-help-box</v-icon>
                                </v-list-item-icon>
                                <v-list-item-title>关于</v-list-item-title>
                            </v-list-item>
                        </v-list-item-group>
                    </v-list>
                </v-navigation-drawer>







                <v-container fluid>
                    <v-row>
                    <!--
                        <v-col align="center">
                            <v-alert @click="show_sync_folder()" text color="info" min-width="200" max-width="300">
                                <h3 class="text-h5">文件夹共享</h3>
                                <div class="caption">
                                    对该文件夹的操作会自动同步到其他机器
                                </div>
                            </v-alert>
                        </v-col>
                    
                        <v-col align="center">
                            <v-alert @click="toggle_clipboard_share_switch()" text color="success" min-width="200"
                                max-width="300">
                                <h3 class="text-h5">剪切板共享：{{clipboard_share_switch?"开":"关"}}</h3>
                                <div class="caption">
                                    在剪切板中的内容更新时向局域网广播
                                </div>
                            </v-alert>
                        </v-col>
                    -->
                        <v-col align="center">
                            <v-alert @click="toggle_soundwire_switch()" text color="warning" min-width="200"
                                max-width="300">
                                <h3 class="text-h5">
                                    接收音频串流：{{soundwire_switch?"开":"关"}}
                                </h3>
                                <div class="caption">
                                    接收并播放其他设备正在广播的音频
                                </div>
                            </v-alert>
                        </v-col>
                    </v-row>
                </v-container>






                <v-card class="mx-auto" max-width="80%" v-if="Object.keys(clients_lan).length==0">

                    <v-carousel :continuous="true" :cycle="true" :show-arrows="true" hide-delimiter-background
                        show-arrows-on-hover delimiter-icon="mdi-minus" height="300">
                        <v-carousel-item>
                            <v-sheet color="green" height="100%" tile>
                                <v-row class="fill-height" align="center" justify="center">
                                    <div class="text-h2">
                                        Slide1
                                    </div>
                                </v-row>
                            </v-sheet>
                        </v-carousel-item>
                        <v-carousel-item>
                            <v-sheet color="blue" height="100%" tile>
                                <v-row class="fill-height" align="center" justify="center">
                                    <div class="text-h2">
                                        Slide2
                                    </div>
                                </v-row>
                            </v-sheet>
                        </v-carousel-item>
                        <v-carousel-item>
                            <v-sheet color="primary" height="100%" tile>
                                <v-row class="fill-height" align="center" justify="center">
                                    <div class="text-h2">
                                        Slide3
                                    </div>
                                </v-row>
                            </v-sheet>
                        </v-carousel-item>
                    </v-carousel>

                    <v-list-item three-line>
                        <v-list-item-avatar>
                            <v-icon large color="primary">mdi-access-point-network</v-icon>
                        </v-list-item-avatar>
                        <v-list-item-content>
                            <span class="text-h5 mb-1">
                                当前暂无设备连接...
                            </span>
                            <br>
                            <span>
                                网络发现进行中，请打开其他设备上的LanBridge应用，并保证设备处于同一网络下。
                            </span>
                        </v-list-item-content>
                    </v-list-item>

                </v-card>









                <v-container fluid>
                    <v-row>
                        <v-col v-for="(value, name) in clients_lan" :key="name">
                            <transition-group appear name="myGroup">
                                <v-card class="mx-auto" max-width="344" elevation="3" outlined
                                    :loading="!value.ws_connected" :key="name">

                                    <v-overlay :absolute=true :value="!value.ws_connected">
                                        <v-alert type="error">
                                            连接断开，正在重连。。。
                                        </v-alert>
                                    </v-overlay>

                                    <v-list-item three-line>
                                        <v-list-item-content>
                                            <div class="text-overline mb-4">
                                                {{name}}
                                            </div>
                                            <v-list-item-title class="text-h5 mb-1">
                                                {{value.sys_info.hostname}}
                                            </v-list-item-title>
                                            <v-card-text>
                                                {{value.sys_info.platform}}<br>
                                                {{value.sys_info.mac}}<br>
                                                {{generate_battery_str(value.battery)}}
                                            </v-card-text>
                                        </v-list-item-content>

                                        <v-list-item-avatar tile size="80">
                                            <img v-bind:src="'./img/os_logo/' +value.sys_info.system+ '.svg'">
                                        </v-list-item-avatar>
                                    </v-list-item>

                                    <v-card-actions>
                                        <v-btn v-on:click="ui_data[name].fullscreen_dialog_open=true;$forceUpdate()"
                                            color="primary" elevation="2" large block>
                                            展开 <v-icon right> mdi-open-in-new</v-icon>
                                        </v-btn>
                                    </v-card-actions>
                                </v-card>
                            </transition-group>

                        </v-col>
                    </v-row>
                </v-container>








                <v-dialog v-for="(value, name) in ui_data" :key="name" v-model="value.fullscreen_dialog_open" fullscreen
                    hide-overlay>
                    <v-toolbar dark extended extension-height="10" color="primary">
                        <v-btn icon dark @click="value.fullscreen_dialog_open = false;$forceUpdate()">
                            <v-icon>mdi-close</v-icon>
                        </v-btn>
                        <v-toolbar-title>{{clients_lan[name].sys_info.hostname}} - {{name}}</v-toolbar-title>
                    </v-toolbar>


                    <v-card>

                        <v-overlay :absolute=true :value="!clients_lan[name].ws_connected">
                            <v-progress-circular indeterminate size="64"></v-progress-circular>
                        </v-overlay>


                        <v-row>
                            <v-col cols="12" v-if="clients_lan[name].sys_info.system!='Android'">
                                <v-card class="mx-auto" max-width="80%" elevation="2">
                                    <v-card-title>访问远程文件</v-card-title>
                                    <v-card-text>
                                        文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案
                                        文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案
                                        文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案
                                        文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案
                                        文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案

                                    </v-card-text>
                                    <v-card-actions>
                                        <v-btn block @click="show_file_explorer(name)">
                                            开始浏览
                                        </v-btn>
                                    </v-card-actions>
                                </v-card>
                            </v-col>
                            <!--
                            <v-col cols="12">
                                <v-card class="mx-auto" max-width="80%" elevation="2">

                                    <v-overlay :absolute=true :value="get_host_os()=='Mac OS'" :opacity="0.7">
                                        <h1 class="font-italic">not supported</h1>
                                    </v-overlay>

                                    <v-card-title>键鼠映射</v-card-title>
                                    <v-card-text>
                                        文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案
                                        文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案
                                        文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案
                                        文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案
                                        文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案
                                    </v-card-text>
                                    <v-card-actions>
                                        <v-btn block @click="start_keyboard_mouse_cast(name)">
                                            运行
                                        </v-btn>
                                    </v-card-actions>
                                </v-card>
                            </v-col>
                        -->
                            <v-col cols="12">
                                <v-card class="mx-auto" max-width="80%" elevation="2">
                                    <v-card-title>发送文件</v-card-title>
                                    <v-card-text>
                                        文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案
                                        文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案
                                        文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案
                                        文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案
                                        文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案
                                    </v-card-text>
                                    <v-card-actions>
                                        <v-btn color="purple lighten-2" dark @click="send_file(name)">
                                            <v-icon left>mdi-file </v-icon>选择文件
                                        </v-btn>                          
                                    </v-card-actions>
                                </v-card>
                            </v-col>
                            <v-col cols="12">
                                <v-card class="mx-auto" max-width="80%" elevation="2">
                                    <v-card-title>查找设备</v-card-title>
                                    <v-card-text>
                                        文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案
                                        文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案
                                        文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案
                                        文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案
                                        文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案
                                    </v-card-text>
                                    <v-card-actions>
                                        <v-btn color="green darken-2" dark @click="find_my_device(name)">
                                            <v-icon left>mdi-cellphone-sound </v-icon>开始
                                        </v-btn>
                                    </v-card-actions>
                                </v-card>
                            </v-col>
                            <v-col cols="12" v-if="clients_lan[name].sys_info.system!='Android'">
                                <v-card class="mx-auto" max-width="80%" elevation="2">
                                    <v-card-title>电源控制</v-card-title>
                                    <v-card-text>
                                        文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案
                                        文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案
                                        文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案
                                        文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案
                                        文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案
                                    </v-card-text>
                                    <v-card-actions>
                                        <v-btn color="error" @click="power_management(name,'shutdown')">
                                            <v-icon left>mdi-power</v-icon>
                                            关机
                                        </v-btn>
                                        <v-btn color="warning" @click="power_management(name,'restart')">
                                            <v-icon left>mdi-power-cycle</v-icon>
                                            重启
                                        </v-btn>
                                        <v-btn color="secondary" @click="power_management(name,'hibernate')">
                                            <v-icon left>mdi-power-sleep</v-icon>
                                            休眠
                                        </v-btn>
                                    </v-card-actions>
                                </v-card>
                            </v-col>
                        </v-row>


                        <v-overlay :value="keyboard_mouse_cast_dialog">
                            <v-alert class="flicker" type="warning" prominent border="left">
                                <div class="text-h6">
                                    键鼠映射运行中，若要退出请同时按住键盘上的
                                    <!-- 'w','u','f'-->
                                    '<v-icon>mdi-alpha-w-box</v-icon>',
                                    '<v-icon>mdi-alpha-u-box</v-icon>',
                                    '<v-icon>mdi-alpha-f-box</v-icon>'
                                    共3个键
                                </div>
                            </v-alert>
                        </v-overlay>










                    </v-card>
                </v-dialog>



            </v-main>
        </v-app>
    </div>


    <script>
        function on_back_pressed(){
            if(app.drawer){
                app.drawer=false;
                return false;
            }
            for (var ip in app.ui_data){
                if (app.ui_data[ip].fullscreen_dialog_open){
                    app.ui_data[ip].fullscreen_dialog_open = false;
                    app.$forceUpdate();
                    return false;
                }
            }
            return true;
        }

        function jsonParser(blob) {
            let parsed = JSON.parse(blob);
            if (typeof parsed === 'string') parsed = jsonParser(parsed);
            return parsed;
        }

        //eel.expose(update_all_lan_clients);
         function update_all_lan_clients() {
            app.update_all_lan_clients();  
        }
        //eel.expose(update_undisturb_mode_switch);
        function update_undisturb_mode_switch() {
            app.update_undisturb_mode_switch();
        }
        //eel.expose(update_soundwire_switch);
        function update_soundwire_switch() {
            app.update_soundwire_switch();
        }
        /*
        //eel.expose(update_clipboard_share_switch);
        function update_clipboard_share_switch() {
            var t = eel.is_clipboard_share_running();
            app.clipboard_share_switch = t;
           
        }
        */
        //eel.expose(keyboard_mouse_cast_stopped);
        function keyboard_mouse_cast_stopped() {
            app.keyboard_mouse_cast_dialog = false;
        }
        
        var app = new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            data: {
                drawer: false,
                undisturb_mode_switch: false,
                keyboard_mouse_cast_dialog: false,
                clients_lan: {},
                ui_data: {},
                //clipboard_share_switch: false,
                soundwire_switch: false,
                snackbar_toggle: false,
                snackbar_text: "欢迎使用",
            },
            watch: {
                undisturb_mode_switch(val) {
                    eel.toggle_undisturb_mode(val);
                }
            },
            methods: {
                update_undisturb_mode_switch:function(){
                    var t = eel.is_undisturb_on();
                    this.undisturb_mode_switch = t;
                },
                update_soundwire_switch:function(){
                    var t = eel.is_soundwire_allowed();
                    this.soundwire_switch = t;
                },
                update_all_lan_clients:function(){
                    var t = eel.get_all_lan_clients();
                    temp = jsonParser(t);
                    this.clients_lan = temp;
                    for (var ip in temp) {
                        if (!this.ui_data.hasOwnProperty(ip)) {
                            this.ui_data[ip] = {
                                "fullscreen_dialog_open": false,
                            };
                        }
                    }
                },
                show_about: function () {
                    this.drawer = false;
                    this.show_snackbar("Made with 💙 by Wu_Eden");
                },
                show_snackbar: function (t) {
                    //this.snackbar_toggle = true;
                    //this.snackbar_text = t;
                    eel.toast(t);
                },
                get_host_os: function () {
                    var userAgent = window.navigator.userAgent,
                        platform = window.navigator.platform,
                        macosPlatforms = ['Macintosh', 'MacIntel', 'MacPPC', 'Mac68K'],
                        windowsPlatforms = ['Win32', 'Win64', 'Windows', 'WinCE'],
                        iosPlatforms = ['iPhone', 'iPad', 'iPod'],
                        os = null;

                    if (macosPlatforms.indexOf(platform) !== -1) {
                        os = 'Mac OS';
                    } else if (iosPlatforms.indexOf(platform) !== -1) {
                        os = 'iOS';
                    } else if (windowsPlatforms.indexOf(platform) !== -1) {
                        os = 'Windows';
                    } else if (/Android/.test(userAgent)) {
                        os = 'Android';
                    } else if (!os && /Linux/.test(platform)) {
                        os = 'Linux';
                    }

                    return os;
                },
                generate_battery_str: function (t) {
                    if (!t.has_battery) return "电池未安装或不支持检测"
                    return t.percentage + "% " + (t.is_charging ? "充电中" : "正使用电池")
                },
                show_file_explorer: function (ip) {
                    eel.show_file_explorer(ip);
                },
                start_keyboard_mouse_cast: function (ip) {
                    eel.start_keyboard_mouse_cast(ip);
                    this.keyboard_mouse_cast_dialog = true;
                },
                show_sync_folder: function () {
                    eel.show_sync_folder();
                },
                power_management: function (ip, action) {
                    eel.power_management(ip, action);
                },
                toggle_soundwire_switch: function () {
                    this.soundwire_switch = !this.soundwire_switch;
                    eel.toggle_soundwire(this.soundwire_switch);
                },
                toggle_clipboard_share_switch: function () {
                    this.clipboard_share_switch = !this.clipboard_share_switch;
                    eel.toggle_clipboard_share(this.clipboard_share_switch);
                },
                send_file: function (ip) {
                    this.show_snackbar("请通过应用外分享发送！");
                },
                find_my_device: function (ip) {
                    eel.find_my_device(ip);
                    this.show_snackbar("设备查找请求已发送！");
                }


            },
            mounted() {
                this.update_all_lan_clients();
                this.update_soundwire_switch();
                this.update_undisturb_mode_switch();
                //update_clipboard_share_switch();
            }
        });



    </script>
<!--
    <script>
        var speed = 5;
        var count = 10;
        window.onload = function () {

            const canvas = document.querySelector('canvas');
            if (typeof canvas.getContext === 'undefined') {
                return;
            }
            const ctx = canvas.getContext("2d");

            function fitCanvasSize() {

                canvas.width = document.documentElement.clientWidth;
                canvas.height = document.documentElement.clientHeight;

            }
            fitCanvasSize();
            window.onresize = fitCanvasSize;

            var balls = [];

            function rand(min, max) {
                return Math.floor(Math.random() * (max - min + 1)) + min;
            }

            var Ball = function () {
                this.r = rand(10, 30);
                this.x = rand(0 + this.r, canvas.width - this.r);
                this.y = rand(0 + this.r, canvas.height - this.r);
                this.vx = rand(-speed, speed);
                this.vy = rand(-speed, speed);
                this.draw = function () {
                    ctx.beginPath();
                    ctx.arc(this.x, this.y, this.r, 0, Math.PI * 2);
                    ctx.fillStyle = "yellow";
                    ctx.fill();
                };
                this.move = function () {
                    if (this.x + this.r > canvas.width || this.x - this.r < 0) {
                        this.vx *= -1;
                    }
                    if (this.y + this.r > canvas.height || this.y - this.r < 0) {
                        this.vy *= -1;
                    }
                    this.x += this.vx;
                    this.y += this.vy;
                }
            };

            function density() {
                var i;
                for (i = 0; i < count; i++) {
                    balls.push(new Ball);
                }
            };
            density();

            function update() {
                var i;
                ctx.clearRect(0, 0, canvas.width, canvas.height);
                for (i = 0; i < count; i++) {
                    balls[i].draw();
                    balls[i].move();
                }
                setTimeout(function () {
                    update();
                }, 100)
            };
            update();
        }
    </script>
-->
</body>

</html>